<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body {
        background: #a66ae1;
        background: linear-gradient(to right, #a66ae1, #d9bff2);
        }

        .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
        }

        .btn-mitrais {
        color: white !important;
        background-color: #a66ae1;
        }

    </style>
    <script type="text/javascript">

        $(document).ready(function(){
            $('#mobileNumber').change(function() {
                const mobileNumber = $("#mobileNumber").val();
                const regexPhoneNumber = /^((\+)62|0)[0-9]{11}$/;

                if (mobileNumber.match(regexPhoneNumber)) {
                    return true;
                } else {
                    alert("Please enter valid Indonesian phone number");
                    $('#mobileNumber').focus();
                    return false;
                }
            });

            $("form").on("submit", function(event){
                event.preventDefault();

                var dob = null;
                if($("#months").val() != "" && $("#date").val() != "" && $("#years").val() != "") {
                    dob = $("#years").val() + "-" + $("#months").val() + "-" + $("#date").val();
                }
                var data = {
                    "mobileNumber" : $("#mobileNumber").val(),
                    "firstName" : $("#firstName").val(),
                    "lastName" : $("#lastName").val(),
                    "dob": dob,
                    "gender" : $("#gender").val(),
                    "email" : $("#email").val()
                }
                console.log(data)
                $(".input").prop("disabled", true);
                $.ajax({
                    'type' : 'POST',
                    'url' : "http://localhost:8080/api/registration",
                    contentType : "application/json; charset:utf-8",
                    'data': JSON.stringify(data),
                    'success': function(result, textStatus, xhr) {
                        console.log(result);
                        alert("Data Registered");
                        $("#login").css("display", "block");
                        //do something
                    },
                    error: function(xhr, ajaxOptions, thrownError){
                        console.log(xhr)
                    }
                });
                return false;
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Registration</h5>
                    <form>
                        <div class="form-floating mb-3">

                            <input type="number" class="form-control input" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number" required>
                            <label for="floatingInput">Mobile Number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control input" id="firstName" name="firstName" placeholder="First Name" required>
                            <label for="floatingInput">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control input" id="lastName" name="lastName" placeholder="Last Name" required>
                            <label for="floatingInput">Last Name</label>
                        </div>
                        <div class="mb-3">
                            <label for="">Date Of Birth</label>
                            <div class="form-floating mb-3">
                                <select name="months" id="months" class="form-floating mb-3 input" aria-label="Default select example">
                                    <option selected value="">Month</option>
                                    <option value="01">Jan</option>
                                    <option value="02">Feb</option>
                                    <option value="03">Mar</option>
                                    <option value="04">Apr</option>
                                    <option value="05">May</option>
                                    <option value="06">Jun</option>
                                    <option value="07">Jul</option>
                                    <option value="08">Aug</option>
                                    <option value="09">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                                <select name="date" id="date" class="form-floating mb-3 input" aria-label="Default select example">
                                    <option selected value="">Date</option>
                                    <option value="01">1</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                                <select name="years" id="years" class="form-floating mb-3 input" aria-label="Default select example">
                                    <option selected value="">Year</option>
                                    <option value="2030">2030</option>
                                    <option value="2029">2029</option>
                                    <option value="2028">2028</option>
                                    <option value="2027">2027</option>
                                    <option value="2026">2026</option>
                                    <option value="2025">2025</option>
                                    <option value="2024">2024</option>
                                    <option value="2023">2023</option>
                                    <option value="2022">2022</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1985">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                    <option value="1982">1982</option>
                                    <option value="1981">1981</option>
                                    <option value="1980">1980</option>
                                    <option value="1979">1979</option>
                                    <option value="1978">1978</option>
                                    <option value="1977">1977</option>
                                    <option value="1976">1976</option>
                                    <option value="1975">1975</option>
                                    <option value="1974">1974</option>
                                    <option value="1973">1973</option>
                                    <option value="1972">1972</option>
                                    <option value="1971">1971</option>
                                    <option value="1970">1970</option>
                                    <option value="1969">1969</option>
                                    <option value="1968">1968</option>
                                    <option value="1967">1967</option>
                                    <option value="1966">1966</option>
                                    <option value="1965">1965</option>
                                    <option value="1964">1964</option>
                                    <option value="1963">1963</option>
                                    <option value="1962">1962</option>
                                    <option value="1961">1961</option>
                                    <option value="1960">1960</option>
                                    <option value="1959">1959</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input input" type="radio" name="gender" id="male" value="Male" />
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input input" type="radio" name="gender" id="female" value="Female" />
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control input" id="email" name="email" placeholder="Email" required>
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-mitrais btn-login text-uppercase fw-bold input" id="btn-register" type="submit">
                                Register
                            </button>
                        </div>
                        <hr class="my-4">

                        <div class="d-grid">
                            <a href="/login" id="login" style="display:none;" class="btn btn-mitrais btn-login text-uppercase fw-bold" >
                                Login
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>